name: Run Jupyter Notebook

on:
  schedule:
    - cron: '0 16 * * *'  # Runs every day at 4 PM UTC
  workflow_dispatch:      # Allows manual triggering of the workflow

jobs:
  execute-notebook:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install nbconvert jupyter ipykernel

      - name: Set up Jupyter kernel
        run: |
          python -m ipykernel install --user --name python3 --display-name "Python 3"

      - name: Execute notebook
        run: |
          mkdir -p graphics
          jupyter nbconvert \
            --to notebook \
            --execute barcelonadori_map.ipynb \
            --output barcelonadori_map.ipynb \
            --inplace

      - name: Configure Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Commit and push changes
        run: |
          git add barcelonadori_map.ipynb graphics/*
          git diff --cached --quiet || git commit -m "Update barcelonadori_map.ipynb and graphics with latest data"
          git push
